/* Removida a classe .container duplicada que estava sobrescrevendo a do App.module.css */

.content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(10, 65, 120, 0.85);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 450px;
}


.content-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
